* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.logo-container {
  width: 24px;
  height: 24px;
  padding: 10px 16px;
}

.hamburger {
    display: inline-block;
    padding: 10px 19px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

#chk-nav-bar {
    display: none;
}

.menu-options {
    display: none;
    margin-top: 44px;
    margin-left: -60%;
}

#chk-nav-bar:checked + .menu-options {
    display: block;
}